/*
CSS for the CS142 project #5 main page


*/
#main-toolbar {
    height: 10%;
    /*background-color: black;*/
    /*color: white;*/
    font-family: 'PT Serif', serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #282828;
    z-index: 9999;
}

#main-small-title {
    display: none;
}

.nav-links {
    position: absolute;
    bottom: 0;
    font-family: 'Bree Serif', serif;
    font-size: 1.6vw;
    width: 100%;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: maroon;
    cursor: pointer;
}

#booking-link {
    background-color: maroon;
    padding: 0 10px;
}

#royal-lane {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-family: 'PT Serif', serif;
    font-size: 1.7em;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
    top: 10%;
}

a {
    padding: 10px;
    text-decoration: none;
    color: silver;
    text-align: center;
}

#footer-container {
    position: absolute;
    bottom: 0;
}

h1, h2, h3, h4 {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #main-small-title {
        display: block;
        font-family: 'Bree Serif', serif;
        font-size: 6vw;
        color: silver;
        margin: auto;
    }
    #main-toolbar {
        display: flex;
        flex-direction: column;
    }
    .nav-links {
        display: none;
    }

    #main-side-open {
        font-family: 'Bree Serif', serif;
        font-size: 5vw;
        color: silver;
        padding-left: 10px;
    }

    .main-sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 10px;
    }

    #main-nav-close {
        position: absolute;
        right: 7%;
        font-size: 8vw;
        padding: 0;
    }

    .main-menu-links {
        font-family: 'Bree Serif', serif;
        font-size: 4vw;
        color: silver;
        display: block;
        text-align: left;
    }

    #main-nav-booking {
        color: maroon;
    }
}