<div id="footer">
    <span id="footer-co">Royal Lane Studios</span>
    <span class="footer-column">
        <p class="footer-title">Services</p>
        <a class="footer-link" ng-href="#!/photography-studio">Photography</a>
        <a class="footer-link" ng-href="#!/photography-studio">Videography</a>
        <a class="footer-link" ng-href="#!/photography-studio">Event Rental Space</a>
    </span>
    <span class="footer-column">
        <a ng-href="#!/contact-us" class="footer-title" id="footer-contact">Contact Us</a>
    </span>
    <span id="footer-copy">&copy COPYRIGHT 2015. ALL RIGHTS RESERVED</span>
</div>